<div>
    <div *ngIf='!this.isLoggedIn'>
        <h4>Register</h4>
        <form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
            <div><input type="email" name="email" required placeholder="Email" [(ngModel)]="user.email"></div>
            <div><input type="password" name="password" required placeholder="Password" [(ngModel)]="user.password"></div>
            <input type="submit" value="Register">
        </form>
    </div>
    <div *ngIf='this.isLoggedIn'>
        <h5>You are logged in</h5>
    </div>
</div>