<div>
    <div *ngIf='!this.isLoggedIn'>
        <h4>Login</h4>
        <form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
            <div>
                <label>Email</label>
                <input type="email" name="email" required email [(ngModel)]="user.email">
            </div>
            <div>
                <label>Password</label>
                <input type="password" name="password" required [(ngModel)]="user.password">
            </div>
            <input type="submit" value="Login">
        </form>
    </div>
    <div *ngIf='this.isLoggedIn'>
        <h1>You are logged in</h1>
        <button (click)='logout()'>Log-out</button>
    </div>
</div>